dsl/表单信息提交系统.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: 表单信息提交系统
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.16@d41b09aca46cdd3876f70b4c91d464c4588fc0bdc844ced6ee426283ead6ce8e
kind: app
version: 0.3.1
workflow:
  conversation_variables:
  - description: 是否提交了信息
    id: d5187412-62bb-4fc1-b5b5-c1b66105b1a5
    name: is_submit
    selector:
    - conversation
    - is_submit
    value: 0
    value_type: integer
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1754274386950-source-1754297448557-target
      source: '1754274386950'
      sourceHandle: source
      target: '1754297448557'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 1754297448557-false-1754297510714-target
      source: '1754297448557'
      sourceHandle: 'false'
      target: '1754297510714'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: template-transform
        targetType: code
      id: 1754297510714-source-1754458900970-target
      source: '1754297510714'
      sourceHandle: source
      target: '1754458900970'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: assigner
      id: 1754458900970-source-1754459024802-target
      source: '1754458900970'
      sourceHandle: source
      target: '1754459024802'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: if-else
      id: 1754459024802-source-1754459475077-target
      source: '1754459024802'
      sourceHandle: source
      target: '1754459475077'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1754459475077-true-17544594882290-target
      source: '1754459475077'
      sourceHandle: 'true'
      target: '17544594882290'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1754459475077-false-1754297922241-target
      source: '1754459475077'
      sourceHandle: 'false'
      target: '1754297922241'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1754297448557-true-1754459507702-target
      source: '1754297448557'
      sourceHandle: 'true'
      target: '1754459507702'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1754459507702-source-1754297496285-target
      source: '1754459507702'
      sourceHandle: source
      target: '1754297496285'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables: []
      height: 54
      id: '1754274386950'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: ≠
            id: 9ba0bd16-cbb4-45de-a035-3dd365e91fd0
            value: '0'
            varType: number
            variable_selector:
            - conversation
            - is_submit
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: 条件分支
        type: if-else
      height: 126
      id: '1754297448557'
      position:
        x: 384
        y: 282
      positionAbsolute:
        x: 384
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1754459507702.text#}}

          '
        desc: ''
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 105
      id: '1754297496285'
      position:
        x: 988
        y: 282
      positionAbsolute:
        x: 988
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        selected: false
        template: "<form data-format=\"json\">\n  <label for=\"username\">姓名：</label>\n\
          \  <input type=\"text\" name=\"username\" />\n  <label for=\"sex\">性别：</label>\n\
          \  <input type=\"select\" name=\"sex\" data-options='[\"男\", \"女\"]'/>\n\
          \  <label for=\"password\">身份ID：</label>\n  <input type=\"password\" name=\"\
          user_id\" />\n  <button data-size=\"small\" data-variant=\"primary\">提交</button>\n\
          </form>"
        title: 模板转换
        type: template-transform
        variables: []
      height: 54
      id: '1754297510714'
      position:
        x: 688
        y: 423
      positionAbsolute:
        x: 688
        y: 423
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '### 首次登陆，请提交信息！

          {{#1754297510714.output#}}

          '
        desc: ''
        selected: false
        title: 直接回复 2
        type: answer
        variables: []
      height: 121
      id: '1754297922241'
      position:
        x: 1926.86859165876
        y: 481.579233986717
      positionAbsolute:
        x: 1926.86859165876
        y: 481.579233986717
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import json\n\n\ndef main(arg1: str) -> dict:\n    is_submit = 0\n\
          \    try:\n        info_dic = json.loads(arg1)\n        if info_dic[\"username\"\
          ] == \"zzz\":\n            is_submit = 1\n\n        return {\n         \
          \   \"is_submit\": is_submit,\n        }\n    except:\n        return {\n\
          \            \"is_submit\": is_submit,\n        }\n"
        code_language: python3
        desc: ''
        outputs:
          is_submit:
            children: null
            type: number
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - sys
          - query
          value_type: string
          variable: arg1
      height: 54
      id: '1754458900970'
      position:
        x: 992
        y: 423
      positionAbsolute:
        x: 992
        y: 423
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1754458900970'
          - is_submit
          variable_selector:
          - conversation
          - is_submit
          write_mode: over-write
        selected: false
        title: 变量赋值
        type: assigner
        version: '2'
      height: 88
      id: '1754459024802'
      position:
        x: 1292
        y: 423
      positionAbsolute:
        x: 1292
        y: 423
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: ≠
            id: b650961b-b70b-416e-9fda-5223d91a2356
            value: '0'
            varType: number
            variable_selector:
            - '1754458900970'
            - is_submit
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: 条件分支 2
        type: if-else
      height: 126
      id: '1754459475077'
      position:
        x: 1592
        y: 423
      positionAbsolute:
        x: 1592
        y: 423
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '### 提交信息成功，可以聊天了！

          '
        desc: ''
        selected: false
        title: 直接回复 (1)
        type: answer
        variables: []
      height: 102
      id: '17544594882290'
      position:
        x: 1926.86859165876
        y: 297.99909237539606
      positionAbsolute:
        x: 1926.86859165876
        y: 297.99909237539606
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.6
            top_p: 0.95
          mode: chat
          name: Qwen3-32B
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: 798c0653-c35a-4cca-923d-9aa6c90d478e
          role: system
          text: 你是一个友好的聊天助手
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1754459507702'
      position:
        x: 688
        y: 282
      positionAbsolute:
        x: 688
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 40.020287285182235
      y: 119.10017335118778
      zoom: 0.7169776240079134
